@font-face {
  font-family: 'easyforex-light';
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'easyforex-regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'easyforex-bold';
  src: url('../fonts/Roboto-Bold.ttf');
}
