$tablet-point : 768px;
$desktop-point : 992px;
$tv-point : 1200px;

$black : #000;
$grey  : #ccc;
$grey-1  : #e5e5e5;
$grey-2  : #757575;
$grey-3  : #b7b7b7;
$white : #fff;

$dark-blue : #01408B;
$green : #86C246;
$greay-dark : #4b4b4b;
$greay-dark2 : #808080;
