---
layout: master.hbs
title: Home
---

<section class="container">

    <div class="row">

        {{> header}}

            <h1 class="test">Hello super setup!</h1>

        {{> footer}}

    </div>

</section>