<section class="archive-list root-section grey-bg">

    <div class="container">

        <div class="row center">

            <div class="col-sm-4 archive-cell">
                <img src="images/daily-archive.png" alt="Daily Archive" class="img-responsive center-img"/>

                <h3 class="title-archive bold">DAILY ARCHIVE</h3>

                <p class="title-market bold">FOREX MARKE</p>

                <p class="text-archive-cell">Integer varius aliquet elementum.Sed porta eget odio id congue.</p>

                <a href="#">READ MORE ></a>

                <span class="icon-right-arrow"></span>
            </div>

            <div class="col-sm-4 archive-cell">
                <img src="images/weekly-archive.png" alt="Weekly Archive" class="img-responsive center-img"/>

                <h3 class="title-archive bold">WEEKLY ARCHIVE</h3>

                <p class="title-market bold">CURRENCY MARKET</p>

                <p class="text-archive-cell">Curabitur a nunc at tellus ultriciesdictum. Praesent ut.</p>

                <a href="#">READ MORE ></a>

                <span class="icon-right-arrow"></span>
            </div>

            <div class="col-sm-4 archive-cell">
                <img src="images/currencies-archive.png" alt="Currencies Archive" class="img-responsive center-img"/>

                <h3 class="title-archive bold">CURRENCIES ARCHIVE</h3>

                <p class="title-market bold"></p>

                <p class="text-archive-cell">Integer varius aliquet elementum.Sed porta eget odio id congue.</p>

                <a href="#">READ MORE ></a>

                <span class="icon-right-arrow"></span>
            </div>

        </div>

    </div>

</section>