<section class="daily-outlook root-section white-bg">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <h1 class="header-section">
                    Easy-Forex <strong>Daily Outlook</strong>
                </h1>

                <h4 class="date-title bold">Australian Daily Outlook<br />
                    Currency Trading Summary - 31 March 2015</h4>

                <p class="writer-name">
                    <i class="agree-title">Written by APAC Trading Desk</i>
                </p>

                <div class="col-sm-12 visible-xs text-center">
                    <a href="#" class="btn btn-lg btn-cancel">Read Now</a>
                </div>

                <ul class="social-event hidden-xs list-inline">
                    <li><a href="#"><img src="images/social/like-fb.png" alt="Facebook Like"/></a></li>
                    <li><a href="#"><img src="images/social/share-fb.png" alt="Facebook Share"/></a></li>
                    <li>
                        <p>
                            <small>45 people like this: Be the first of your friends.</small>
                        </p>
                    </li>
                </ul>

                <h4 class="header-article-section hidden-xs bold">Currency Updates:</h4>

                <div class="list-article hidden-xs">
                    <article class="daily-article">
                        <h4 class="header-location agree-title">AUD/USD</h4>

                        <p>The pair was driven down to the 200-HMA in Europe's morning before bouncing towards 0.7710
                            into
                            NY's
                            open. Bears took control in early NY as the USD continued to claw bactk post-FOMC losses and
                            talk
                            that the RBA may now act on their own was upped. AUD/USD slid from the open, pierced the
                            200-HMA
                            and
                            threatened support in the 0.7610 area. The pair remained heavy as pressure was applied from
                            AUD/NZD's slide towards 1.0310/15. Late in the day AUD/USD sat just above 0.7615. Action in
                            Asia
                            may
                            remain limited as the market continues to digest the latest moves. There might be some
                            action
                            though
                            as RBA's Stevens speak in Melbourne. If the AUD comes up in the topic it's likely Stevens
                            will
                            try
                            to jawbone it lower. He may also note the potential for a rate cut after the latest RBA
                            minutes
                            suggested the bank is open to further cuts. AUD/USD is likely to trade soft on that type of
                            rhetoric.
                        </p>

                    </article>

                    <h4 class="header-article-section bold">Technicals:</h4>

                    <article class="daily-article">
                        <h4 class="header-location agree-title">EUR/USD</h4>

                        <p class="daily-text">The correction off the post-FOMC high continued through Europe & NY trading. Bears pressed
                            EUR/USD
                            below the 200-HMA before a bounce towards 1.0740 took hold into NY's open. The rally was
                            sold
                            though
                            as the USD's recovery proceeded and US bond yields put in substantial gains. Solid bids in
                            the
                            1.0640/50 zone were filled and the 200-HMA was cleared. EUR/USD shrugged off the rise in
                            EUR/GBP
                            from near 0.7155 towards 0.7235 and HSBC's upping of its end-2016 EUR/USD f/c to 1.10 from
                            1.05
                            and
                            continued to slide a bit further. The pre-Fed lows were tested and little bounce was seen.
                            Late
                            in
                            the day the pair sat just above 1.0620. After such a harsh session on March 18, traders now
                            contemplate their next move and look for cues for direction. There is little major data on
                            Friday to
                            dictate any more in either EUR or the USD so it's possible the market holds to a tight range
                            until
                            next week.
                        </p>

                    </article>

                    <article class="daily-article">
                        <h4 class="header-location agree-title">USD/JPY</h4>

                        <p>
                            The recovery from the post FOMC USD bloodbath got USD/JPY back to 61.8% of the 122.04-119.29
                            slide
                            by 121 in NorAm trading. There are also USD3.6bln of expiries there Friday. It took most of
                            the
                            NY
                            session, but offers at 121 were finally breached as the majority of Wed's Tsy yield dive was
                            recovered. The next hurdle is the 200-HMA by 121.25 last. It was broken below Wed for the
                            first
                            time
                            since Feb 26, adding to a host of other technical breakdowns that day. Japanese demand for
                            foreign
                            stocks and bonds, mostly US, remains strong, the weekly MOF flow data show, and all else
                            being
                            equal, should limit USD/JPY downside. Wed's 119.29 low was a fleeting breach of the weekly
                            on-close
                            pivot pt & weekly Tenkan at 119.38/34; making them key weekly on-close props. Minutes from
                            the
                            BOJ's
                            Feb meeting are out tonight, but are unlikely to inform beyond what this week's meeting
                            provided.
                            Little US data until next week to charge the Fed debate. More offers at 120.45-65 and into
                            122.00/04, w stops above the latter peak. EUR/JPY's Wed spike toward the Kijun & 50% of the
                            Feb-Mar
                            slide was erased today. GBP/JPY again flirting w a sub 200-DMA close.
                        </p>
                    </article>

                    <h4 class="header-article-section bold">Crosses:</h4>

                    <h4 class="header-article-section bold">Looking Ahead:</h4>

                    <article class="daily-article">
                        <h4 class="header-location agree-title">Looking Ahead - Economic Data (GMT)</h4>
                        <ul>
                            <li>No Significant Data</li>
                        </ul>

                        <br/>

                        <h4 class="header-location agree-title">Looking Ahead - Events, Other Releases (GMT)</h4>
                        <ul>
                            <li>23:50 JP Bank of Japan will publish the minutes of February policy-setting meeting</li>
                            <li>01:00 AU RBA Gov Glenn Stevens speaks at a luncheon at the American Chamber of Commerce
                                in
                                Sydney
                            </li>
                        </ul>

                    </article>

                    <h4 class="header-article-section bold">Medium Term Strategy: Forex Pair of the day</h4>

                    <article class="daily-article">
                        <h4 class="header-location agree-title">EUR/USD - under pressure</h4>

                        <p>The pair broken below the previous bottom of August 2003 at 1.0750 and is currently posting a
                            limited
                            pull back. Moreover, the moving averages remain badly directed and the daily RSI is capped
                            by a
                            declining trend line. Therefore, as long as 1.1560 holds as a resistance (February top),
                            further
                            weakness is likely with 1.02 as a first target (horizontal support and overlap) and 0.9850
                            in
                            extension (horizontal support). A third target is set at 0.96 (horizontal support and
                            overlap).
                            Only
                            a break above 1.1560 will turn the outlook to bullish with 1.19 asa first alternative target
                            (2010
                            bottom) and 1.2250 in extension (horizontal resistance).
                        </p>

                    </article>

                    <ul class="social-event list-inline">
                        <li><a href="#"><img src="images/social/like-fb.png" alt="Facebook Like"/></a></li>
                        <li><a href="#"><img src="images/social/share-fb.png" alt="Facebook Share"/></a></li>
                        <li>
                            <p>
                                <small>45 people like this: Be the first of your friends.</small>
                            </p>
                        </li>
                    </ul>
                </div>



            </div>

        </div>

    </div>

</section>