<section class="follow-us white-bg">
    <div class="container">
        <div class="row">
            <p class="col-sm-2 col-sm-offset-2 left-side">
                Follow us:
            </p>

            <div class="col-sm-8 right-side">
                <ul class="list-inline">
                    <li><a href="https://plus.google.com/+easyMarkets"><img src="images/social/g-plus.jpg" alt=""/></a></li>
                    <li><a href="https://www.facebook.com/easyforexWW?ref=ts"><img src="images/social/facebook.jpg" alt=""/></a></li>
                    <li><a href="http://twitter.com/EasyForexDR"><img src="images/social/twitter.jpg" alt=""/></a></li>
                    <li><a href="http://passport.weibo.com/visitor/visitor?entry=miniblog&a=enter&url=http%3A%2F%2Fweibo.com%2Feasyforex2013%2Fhome&domain=.weibo.com&ua=php-sso_sdk_client-0.6.11&_rand=1429862292.908"><img src="images/social/rss.jpg" alt=""/></a></li>
                    <li><a href="http://www.linkedin.com/company/easy-forex"><img src="images/social/linkedin.jpg" alt=""/></a></li>
                    <li><a href="https://www.youtube.com/user/easyforexWW"><img src="images/social/youtube.jpg" alt=""/></a></li>
                    <li><a href="http://www.easy-forex.com/int/toolbar/"><img src="images/social/ref.jpg" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>