<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-4 left-side">

                <ul>
                    <li>
                        <a href="#" class="up-text">Login
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">About
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Contact
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Product disclosure statement
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Financial services guide
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Forex learning centre
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Site map
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Legal
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Terms
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="up-text">Disclaimer
                            <span class="icon-right-arrow"></span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-sm-offset-5 col-sm-3 right-side">

                <p class="contact-title up-text"><strong>Servise - 24/7 free call</strong></p>

                <p><strong>Sydney Dealing Desk:</strong> 1800 176 935</p>

                <p><strong>Malaysia (KL):</strong> (03) 2298 7366</p>

                <p><strong>New Zealand:</strong> 0800 32 79 39</p>

                <p><strong>International:</strong> +61 2 9299 9466</p>

                <p class="contact-email"><strong>Email:</strong> <a href="mailto:pacific@easy-forex.com">pacific@easy-forex.com</a></p>

                <div class="copy-right">
                    <p>
                        2015 © Easy Forex Pty Ltd (Australia)
                    </p>

                    <small>
                        Australian Financial Services (AFS) Licence 246566
                    </small>
                </div>


            </div>

        </div>

    </div>

</footer>