<header class="header white-bg hit-menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 left-side">
                <a href="/">
                    <h1 class="logo">
                        <img src="images/easyforex-logo.png" alt="easy forex" class="img-responsive"/>
                    </h1>
                </a>
            </div>
            <div class="col-sm-8 right-side">
                    <div class="tools-list hidden-xs">
                        <ul class="list-inline tools-list-link">
                            <li class="tools-block">
                                <a href="#" class="search-link">
                                    <span class="menu-icon tel visible-xs"></span>
                                    <span class="hidden-xs text">Search</span>
                                </a>
                                <input type="text" class="form-control hidden-xs header-search" placeholder="Search">
                            </li>
                            <li><a href="#">
                                <span class="menu-icon chat visible-xs"></span>
                                <span class="hidden-xs text">Live Chat</span>
                            </a></li>
                            <li><a href="#">
                                <span class="menu-icon login visible-xs"></span>
                                <span class="hidden-xs text">Login</span>
                            </a></li>
                        </ul>

                        <div class="tel hidden-xs">
                            <span class="icon-tel"></span>
                            <a href="tel:1300303908"><img src="images/tel-number.png" alt=""/></a>
                        </div>
                </div>
                <div class="row">
                    <p class="platform-text">Desktop, tablet & mobile - Forex trading platform</p>
                </div>
            </div>
        </div>
    </div>
</header>