<section class="hero-banner white-bg hit-menu">
    <div id="" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item carousel-bg slid-1 active" >
                <div class="carousel-caption">
                    <h1 class="header">Trade CFD <br/> Currencies</h1>
                    <p class="description">Tight Fixed Spreads on Forex Markets</p>
                    <a href="#" class="btn btn-lg btn-send btn-open-account">Open an account now</a>
                </div>
            </div>
            <div class="item carousel-bg slid-2">
                <div class="carousel-caption">
                    <h1 class="header">Trade CFD <br/> Currencies</h1>
                    <p class="description">Tight Fixed Spreads on Forex Markets</p>
                    <a href="#" class="btn btn-lg btn-send btn-open-account">Open an account now</a>
                </div>
            </div>

        </div>
    </div>
</section>