<section class="container mobile-nav">

    <span class="icon-close-mobile-nav"></span>

    <div class="row">
        <h1 class="logo">
            <img src="images/easyforex-small-logo.png" alt="easy forex" class="img-responsive center-img"/>
        </h1>
    </div>

    <div class="row center">

        <div class="form-group">
            <div class="col-xs-8 col-xs-offset-2 search-input-group">
                <input type="text" class="form-control search-mobile-input" id="searchMobile" placeholder="Search">
                <span class="search-mobile-icon"></span>
            </div>
        </div>

    </div>

</section>