<nav class="primary-nav white-bg">

    <div class="mobile-nav-bar visible-xs">
        <span class="menu-icon hamburger"></span>
    </div>

    <div class="container hidden-xs">
        <div class="row center">
            <ul class="list-inline list-links">
                <li class="menu-item">
                    <a href="#">Home</a>

                    <div class=""></div>
                </li>
                <li class="menu-item">
                    <a href="#">WHY Easy-Forex</a>

                    <div class=""></div>
                </li>
                <li class="menu-item">
                    <a href="#">Start Trading</a>

                    <div class=""></div>
                </li>
                <li class="menu-item">
                    <a href="#">Products</a>

                    <div class=""></div>
                </li>
                <li class="menu-item has-child">
                    <a class="link-item" href="#">Learning Center</a>

                    <div class="dropdown-menu-list">

                        <div class="container dropdown-container">

                            <div class="col-sm-3 dropdown-col">
                                <ul>
                                    <li class="landing-link"><a href="#">Events</a></li>
                                    <li class="landing-link"><a href="#">Currency Trading Overview</a></li>
                                    <li class="landing-link"><a href="#">Technical Analysis</a></li>
                                    <li class="landing-link"><a href="#">Fundamental Analysis</a></li>
                                    <li class="landing-link"><a href="#">Currency Trade Issues</a></li>
                                    <li class="landing-link"><a href="#">Forex Glossary</a></li>
                                    <li class="landing-link"><a href="#">Currency Trade Disclaimer</a></li>
                                </ul>
                            </div>

                            <div class="col-sm-3 dropdown-col">
                                <ul>
                                    <li class="landing-link parent-link">
                                        <a class="parent-link-text" href="#">
                                            Forex Deals
                                        </a>
                                        <ul class="child-link">
                                            <li><a href="#">Components of a Forex deal</a></li>
                                            <li><a href="#">Currency Deals: Tips and Help</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="landing-link parent-link">
                                        <a class="parent-link-text" href="#">
                                            Currency Market
                                        </a>
                                        <ul class="child-link">
                                            <li><a href="#">Forex Market - Short History</a></li>
                                            <li><a href="#">Types of Exchanage RateTrading
                                                Systems</a></li>
                                            <li><a href="#">Participants in Today'sForex market</a>
                                            </li>
                                            <li><a href="#">Market Making inCurrency Trade</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="landing-link parent-link">
                                        <a class="parent-link-text" href="#">
                                            Trading Forex Online
                                        </a>
                                        <ul class="child-link">
                                            <li><a href="#">Forex on the Internet:Basic Steps</a>
                                            </li>
                                            <li><a href="#">The Trading Platform:Real-Time
                                                Software</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-3 dropdown-col">
                                <ul>
                                    <li class="landing-link parent-link">
                                        <a class="parent-link-text" href="#">
                                            Commodities Trading
                                        </a>
                                        <ul class="child-link">
                                            <li><a href="#">Gold Trading</a></li>
                                            <li><a href="#">Oil Trading</a></li>
                                            <li><a href="#">Silver Trading</a></li>
                                            <li><a href="#">WTI Oil Trading</a></li>
                                            <li><a href="#">Brent Oil Trading</a></li>
                                            <li><a href="#">Gas Oil Trading</a></li>
                                            <li><a href="#">Heating Oil Trading</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="landing-link parent-link">
                                        <a class="parent-link-text" href="#">
                                            Forex Training
                                        </a>
                                        <ul class="child-link">
                                            <li><a href="##">Currency trading tools</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-3 dropdown-col">
                                <ul>
                                    <li class="landing-link parent-link">
                                        <a class="parent-link-text" href="#">
                                            FX Day Trading Platform
                                        </a>
                                        <ul class="child-link">
                                            <li><a href="#">Deciding and Determiningthe Forex
                                                deal</a></li>
                                            <li><a href="#">Checking trading account status</a></li>
                                            <li><a href="#">Closing the Forex deal manuallyand
                                                limiting orders</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="landing-link parent-link">
                                        <a class="parent-link-text" href="#">
                                            Forex Trading Tips
                                        </a>
                                        <ul class="child-link">
                                            <li><a href="#">Forex Learning andtraining
                                                strategies</a></li>
                                            <li><a href="#">Utilize the tools of the currencytrading
                                                system</a></li>
                                            <li><a href="#">Forex risk management strategies</a></li>
                                            <li><a href="#">Learn to control the risk bycapping your
                                                losses</a></li>
                                            <li><a href="#">Avoiding and reducing riskin forex
                                                trading</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="menu-item">
                    <a href="#">Become a Partner</a>

                    <div class=""></div>
                </li>
                <li class="menu-item">
                    <a href="#">Report Archive</a>

                    <div class=""></div>
                </li>
                <li class="menu-item">
                    <a href="#">Commodities Trading</a>

                    <div class=""></div>
                </li>
                <li class="menu-item">
                    <a href="#">Legal</a>

                    <div class=""></div>
                </li>
            </ul>
        </div>
    </div>
</nav>