<section class="risk-warning white-bg">
    <div class="container">
        <div class="basic-box">
            <p>
                <strong>Risk Warning: </strong>
                Forex, Commodities, Options and CFDs (OTC Trading) are leveraged products that carry a substantial
                risk
                of loss up to your invested capital
                and may not be suitable for everyone. Please ensure that you fully understand the risks involved and
                do
                not invest money you cannot afford to lose.
                Please refer to our full risk disclaimer. EF Worldwide Ltd.
            </p>
        </div>
    </div>
</section>