<section class="start-trading root-section white-bg hit-menu">

    <div class="container">

        <div class="row">

            <h1 class="header-section">
                FOREX TRADING PLATFORM
                <strong>DESKTOP, TABLET & MOBILE</strong>
            </h1>

            <div class="col-sm-7">

                <p class="start-trading-text">
                    Through its real-time Forex trading platform, Easy-Forex Australia offers complete suite of tool
                    for Web, Desktop, Mobile and MT4 trading with 24 hours a day support and Dealing room service.
                    In addition, Easy-Forex provides One on One Forex training, The Forex School - Video on Demand
                    forex trading lessons, and Forex seminars.
                </p>


                <h2 class="up-text">
                    <strong>Why trade </strong>with Easy Forex?
                </h2>

                <div class="why-trade-list">
                    <ul class="col-sm-6">
                        <li><span></span>Guaranteed Stop-Loss Rate</li>
                        <li><span></span>Competitive spreads</li>
                        <li><span></span>No commissions</li>
                        <li><span></span>Online Forex trading withLive, real time quotes.</li>
                    </ul>
                    <ul class="col-sm-6">
                        <li><span></span>No software downloads</li>
                        <li><span></span>Start trading within minutes.</li>
                        <li><span></span>Freeze and Trade©</li>
                    </ul>
                </div>

            </div>

            <div class="col-sm-5">
                <img src="images/platforms.png" class="img-responsive center-img"/>
            </div>

            <div class="col-sm-12 text-center">
                <a href="#" class="btn btn-lg btn-cancel">Learn More</a>
                <a href="#" class="btn btn-lg btn-send">Start Trading</a>
            </div>

        </div>

    </div>

</section>