<section class="try-form root-section grey-bg">

    <div class="container">

        <div class="row">

            <h1 class="col-sm-12 header-section">
                <strong>Try </strong>EASY-FOREX TODAY
            </h1>

            <p class="col-sm-8 col-sm-offset-2 description-text center">
                Get a free online demonstation of our leading online Forex trading platform. Morbi at nibh ut est
                placerat bibendum. Aliquam elementum nunc at velit finibus luctus. Maecenas ornare semper lacinia.
            </p>

            <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">

                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="firstName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lastName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Country</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="country">
                    </div>
                </div>

            </div>

            <div class="col-sm-5 ">

                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label">Phone Number</label>

                    <div class="col-sm-9">
                        <input type="tel" class="form-control" id="phoneNumber">
                    </div>
                </div>

                <div class="form-group form-group-agree">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <p class="agree-text">I agree with the <a href="#">Terms & Conditions</a></p>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <a href="#" type="submit" class="btn btn-lg btn-send">Submit</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>