---
layout: master.hbs
title: Home
---

{{> upgrade-browser }}

{{> mobile-nav}}

<main>

    {{> header}}

    {{> navigation}}

    {{> hero}}

    {{> start-trading}}

    {{> archive-list}}

    {{> daily-outlook}}

    {{> horizontal-image}}

    {{> our-awards}}

    {{> try-form}}

    {{> risk-warning}}

    {{> follow-us}}

    {{> footer}}

</main>
